
@model Good.Models.POST
<link href="/kartik-v-bootstrap-fileinput-d7b725d/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
<html >
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script src="/kartik-v-bootstrap-fileinput-d7b725d/js/fileinput.min.js" type="text/javascript">

    $("#input-id").fileinput();

        // with plugin options
        $("#input-id").fileinput({ 'showUpload': true, 'previewFileType': 'any' });



    
</script>
<body>

    <h2 style="color:#050303">Submit an Ad</h2>
    <br />


    <div class="row">
        <div class="col-md-12">
           

            <form role="form" method="post" action="~/User/savepost" enctype="multipart/form-data">
                 @Html.ValidationSummary(true)
                <div class="form-group ">
                    <div class="col-md-2">
                        <label style="color:#050303" for="name" class="text-success">Ad Title*:</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="name" name="title" placeholder="Enter title" required/>
                    </div>   
                </div>


                    <br/>
                    <div class="col-md-2">
                        <label style="color:#050303" class="text-success">Ad Description*:</label>
                    </div>
                    <div class="col-md-4">
                        <textarea name="textarea" rows="5" cols="45" required></textarea>
                    </div>
                <br />
                <div class="col-md-2">
                        <label style="color:#050303" class="text-success">Price*:</label>
                    </div>
                    <div class="col-md-4">
                       <input type="number" class="form-control" id="price" name="rs" required/>
                    </div>
 
                    <br/>
                    <div class="col-md-2">
                        <label style="color:#050303" class="text-success" for="name">Name:</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="pwd" name="uname" placeholder="Enter Name" required/>
                    </div>
                    <br/>
                    <div class="col-md-2">
                        <label style="color:#050303" for="email" class="text-success">Email:</label>
                    </div>

<script>

    $(document).ready(function ()
    {
        $('#p1').hide();
        $("#add").click(function () {

            var u = $("#Email").val();

            if (u != "") {

                $.getJSON('/Home/GetStatus?u=' + $("#Email").val(), function (x) {

                    if (x) {
                        $('#p1').show();
                        $('#p1').text("Entered email mismatch with your login email");
                        alert("This email is mismatch from your logedIn! try same");
                        
                    }

                    else {

                        $('#p1').text("");
                        $('#p1').hide();
                    }

                });
            }
            else
                alert("Enter Data First");
        });

    });




</script>

                    <div class="col-md-4">
                        <input type="email" class="form-control " id="Email" name="email" placeholder="Enter Email" required />
                        <p id="p1" style="color:red" />
                    </div>
                    <br/>
                    <div class="col-md-2">
                       
                    <label style="color:#050303" for="add" class="text-success">Phone no:</label>
                   </div>
                  
            
                     <div class="col-md-4">
                        <input type="number" class="form-control " id="add" name="pno" placeholder="xxxxyyyyyyy" required />
                    </div>
                
                    <br/>
                   
                    <div class="col-md-2">
                        <label style="color:#050303" for="op" class="text-success">Province:</label>
                    </div>
                    <div class="col-md-4" id="op">
                        <select class="form-control" id="con" name="prov" required>
                            <option value="">Select</option>
                            <option value="Khaber Pakhton Khawa">Khaber Pakhton Khawa</option>
                            <option value="Punjab">Punjab</option>
                            <option value="Sindh">Sindh</option>
                            <option value="Balochistan">Balochistan</option>
                            
                        </select>
                    </div>
                    <br/>
                    
                <script>
                        
                    $("#con").change(function () {

                     if($("#con").val() === ('Khaber Pakhton Khawa'))
                     {
                         //alert("Khaber Pakhton Khawa");
                         $("#cty option").remove();
                         $("#cty").append(" <option value='Kulachi'>Kulachi</option>  ");
                         $("#cty").append(" <option value='Lakki Marwat'>Lakki Marwat</option>  ");
                         $("#cty").append(" <option value='Latamber'>Adezai</option>  ");
                         $("#cty").append(" <option value='Madyan'>Madyan</option>  ");
                         $("#cty").append(" <option value='Mansehra'>Mansehra</option>  ");
                         $("#cty").append(" <option value='Mardan'>Mardan</option>  ");
                         $("#cty").append(" <option value='Mastuj'>Mastuj</option>  ");
                         $("#cty").append(" <option value='Mingora'>Mingora</option>  ");
                         $("#cty").append(" <option value='Nowshera'>Nowshera</option>  ");
                         $("#cty").append(" <option value='Paharpur'> Paharpur</option>  ");
                         $("#cty").append(" <option value='Pabbi'>Pabbi</option>  ");
                         $("#cty").append(" <option value='Peshawar'>Peshawar</option>  ");
                         $("#cty").append(" <option value='Saidu Sharif'>Saidu Sharif</option>  ");
                         $("#cty").append(" <option value='Shewa Adda'>Shewa Adda</option>  ");
                         $("#cty").append(" <option value='Swabi'>Swabi</option>  ");
                         $("#cty").append(" <option value='Swat'>Swat</option>  ");
                         $("#cty").append(" <option value='Tangi'>Tangi</option>  ");
                         $("#cty").append(" <option value='Tank'>Tank</option>  ");
                         $("#cty").append(" <option value='Thall'>Thall</option>  ");
                         $("#cty").append(" <option value='Timergara'>Timergara</option>  ");
                         $("#cty").append(" <option value='Tordher'>Tordher</option>  ");
                         $("#cty").append(" <option value='Cherat'>Cherat</option>  ");
                         $("#cty").append(" <option value='Risalpur'>Risalpur</option>  ");
                         
                     }
                     if ($("#con").val() === ('Punjab')) {
                         
                         $("#cty option").remove();
                         $("#cty").append(" <option value='Lahore'>Lahore</option>");
                         $("#cty").append(" <option value='Faisalabad'>Faisalbad</option>");
                         $("#cty").append(" <option value='Multan'>Multan</option>  ");
                         $("#cty").append(" <option value='Sargodha'>Sargodha</option>  ");
                         $("#cty").append(" <option value='Muree'>Muree</option>  ");
                         $("#cty").append(" <option value='Narowal'>Narowal</option>  ");
                         $("#cty").append(" <option value='Rawalpindi'>Rawalpindi</option>  ");
                         $("#cty").append(" <option value='Mianwali'>Mianwali</option>  ");
                     }
                     if ($("#con").val() === ('Sindh')) {
                         $("#cty option").remove();
                         $("#cty").append(" <option value='Karachi'>Karachi</option>  ");
                         $("#cty").append(" <option value='Dadu'>Dadu</option>  ");
                         $("#cty").append(" <option value='Nauderu'>Nauderu</option>  ");
                         $("#cty").append(" <option value='Hydrabad'>Hydrabad</option>  ");
                         $("#cty").append(" <option value='Nawabshah'>Nawabshah</option>  ");
                         $("#cty").append(" <option value='Jamshoru'>Jamshoru</option>  ");
                         $("#cty").append(" <option value='Larkana'>Larkana</option>  ");
                         $("#cty").append(" <option value='Mir pur khas'>Mir pur Khas</option>  ");
                     }

                     if ($("#con").val() === ('Balochistan')) {
                         $("#cty option").remove();
                         
                         $("#cty").append(" <option value='Quetta'>Quetta</option>  ");
                         $("#cty").append(" <option value='Sibi'>Sibi</option>  ");
                         $("#cty").append(" <option value='Gawadar'>Gawadar</option>  ");
                         $("#cty").append(" <option value='Chaman'>Chaman</option>  ");
                         $("#cty").append(" <option value='Turbat'>Turbat</option>  ");
                         $("#cty").append(" <option value='Khuzdar'>Khuzdar</option>  ");
                     }
                    




                    });

                </script>


                    <div class="col-md-2">
                        <label style="color:#050303" for="op" class="text-success">City:</label>
                    </div>
                    <div class="col-md-4" id="Div1">
                        <select class="form-control" id="cty" name="city" required>
                          <!--
                              <option value="Lahore">Lahore</option>
                            <option value="Islamabad">Islamabad</option>
                            <option value="Faisalabad">Faisalabad</option>
                            <option value="Karachi">Karachi</option>
                            <option value="Gujranwala">Gujranwala</option>
                            <option value="Sargodha">Sargodha</option>
                              -->
                        </select>
                    </div>
                    
                    <br/>
                <div class="text-success">
                    <div class="checkbox col-md-6" >
                        <label style="color:#050303"><input type="checkbox"/>By clicking 'Submit' you agree to our Terms of Use & Posting Rules</label>
                    </div>
                    <br />
                   <input id="File1" name="img1" type="file" class="file" data-preview-file-type="image" multiple accept="image/*" /> 
                   <input id="File2" name="img2" type="file" class="file" data-preview-file-type="image" multiple accept="image/*"/> 
                    <br />

                        <button type="submit" class="btn btn-success">Post Ad</button>
                </div>

          
            </form>
    </div>
    </div>
    
	 
		
</body>
</html>
