@{
    ViewBag.Title = "Mobile_Brands";
}

<div class="row-fluid">
        <div class="span3">

            <center>
                <a data-toggle="modal" href="#myModal"><img src="~/Images/lgg3.jpg" /></a>
                
                <br /><br />

                <a class="btn" style="width:120px;" href="#">LG G3<br /> RS. 43,000</a>
            </center>
        </div>
        <div class="span3">
            <center>
                <a data-toggle="modal" href="#myModal1"><img src="~/Images/ipone6.jpg" /></a>
               
                <br /><br />

                <a class="btn" style="width:120px;" href="#">Apple iphone 6 plus<br /> RS. 100000</a>
            </center>

        </div>
        <div class="span3">

            <center>
                <a data-toggle="modal" href="#myModal"><img src="~/Images/htc826.jpg" /></a>

                <br /><br />

                <a class="btn" style="width:120px;" href="#">HTC Desire 826<br /> Coming Soon</a>
            </center>
        </div>
        <div class="span3">

            <center>
                <a data-toggle="modal" href="#myModal"><img src="~/Images/glexyA5.jpg" /></a>

                <br /><br />

                <a class="btn" style="width:120px;" href="#">Samsumg Glexy A5<br /> RS.43,000</a>
            </center>
        </div>
        <br />

    <div class="span3">

            <center>
                <a data-toggle="modal" href="#myModal"><img src="~/Images/lgg3.jpg" /></a>
                
                <br /><br />

                <a class="btn" style="width:120px;" href="#">LG G3<br /> RS. 43,000</a>
            </center>
        </div>
        <div class="span3">
            <center>
                <a data-toggle="modal" href="#myModal1"><img src="~/Images/ipone6.jpg" /></a>
               
                <br /><br />

                <a class="btn" style="width:120px;" href="#">Apple iphone 6 plus<br /> RS. 100000</a>
            </center>

        </div>
        <div class="span3">

            <center>
                <a data-toggle="modal" href="#myModal"><img src="~/Images/htc826.jpg" /></a>

                <br /><br />

                <a class="btn" style="width:120px;" href="#">HTC Desire 826<br /> Coming Soon</a>
            </center>
        </div>
        <div class="span3">

            <center>
                <a data-toggle="modal" href="#myModal"><img src="~/Images/glexyA5.jpg" /></a>

                <br /><br />

                <a class="btn" style="width:120px;" href="#">Samsumg Glexy A5<br /> RS.43,000</a>
            </center>
        </div>
        

    <div class="span3">

            <center>
                <a data-toggle="modal" href="#myModal"><img src="~/Images/lgg3.jpg" /></a>
                
                <br /><br />

                <a class="btn" style="width:120px;" href="#">LG G3<br /> RS. 43,000</a>
            </center>
        </div>
        <div class="span3">
            <center>
                <a data-toggle="modal" href="#myModal1"><img src="~/Images/ipone6.jpg" /></a>
               
                <br /><br />

                <a class="btn" style="width:120px;" href="#">Apple iphone 6 plus<br /> RS. 100000</a>
            </center>

        </div>
        
</div>
